<section class="quienes-somos">
    <div class="quienes-somos_titles">
            <h4>¿QUIENES SOMOS?</h4>
            <p>El apodo "Scaloneta" es el símbolo de la esperanza albiceleste, un sueño que comenzó a escribirse hace casi cuatro años sin que casi nadie se diera cuenta. Lionel Scaloni era un técnico inexperto, sin pergaminos más allá de su gran carrera como futbolista profesional. Tras el papelón de Rusia 2018 y con la obligación de impulsar un recambio generacional que le costaría el puesto a varios nombres importantes en el horizonte, todos los entrenadores de renombre le escapaban a la selección. Entonces apareció Scaloni.</p>
            <p>"La Scaloneta", "subirse a la Scaloneta", significó primero acompañar un proceso sumamente cuestionado que después se resignificó en la máquina nacional y hasta se convirtió en un modo de vivir la vida.</p>
            <button class="boton_descubrir-mas">
                <a href="https://www.ole.com.ar/seleccion/scaloneta-apodo-nacimiento_0_kGmP7PojeN.html" target="_blank">DESCUBRIR MAS</a>
            </button>
            
    </div>
    <div class="quienes-somos_imagen">
        <img src="assets/La-Tercera.webp" alt="Foto de la obtención de la tercer Copa del Mundo">
    </div>
</section>
<section>
    <div class="sobre__scaloneta">
        <div class="sobre_scaloneta-titles">
            <h2>Datos importantes de la Scaloneta</h2>
        </div>
        <div class="sobre_scaloneta-card">
            <div class="sobre_scaloneta-cards"  data-aos="flip-left">
                <h2>36</h2>
                <p>Partidos invictos de la Scaloneta</p>
            </div>
            <div class="sobre_scaloneta-cards"  data-aos="flip-left">
                <h2>4</h2>
                <p>Títulos actuales de la Scaloneta</p>
            </div>
            <div class="sobre_scaloneta-cards"  data-aos="flip-left">

                <h2>44</h2>
                <p>Máximo goleador de la Scaloneta</p>
            </div>
            <div class="sobre_scaloneta-cards"  data-aos="flip-left">
                <h2>67</h2>
                <p>Jugador con más partidos de la Scaloneta</p>
            </div>
        </div>
    </div>
</section>