.quienes-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}
.quienes-somos .quienes-somos_titles {
  padding: 1rem;
}
.quienes-somos .quienes-somos_titles h4 {
  font-size: 2rem;
  margin-bottom: 17px;
  color: blue;
  text-align: center;
  padding: 1rem;
}
.quienes-somos .quienes-somos_titles h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.quienes-somos .quienes-somos_titles p {
  font-size: large;
  margin-bottom: 12px;
  color: blue;
}
.quienes-somos .quienes-somos_imagen img {
  max-width: 400px;
}
.quienes-somos .boton_descubrir-mas {
  all: unset;
  cursor: pointer;
  background-color: rgb(0, 60, 255);
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  margin-top: 17px;
  transition: 1s ease;
}
.quienes-somos .boton_descubrir-mas:hover {
  background-color: rgb(140, 0, 255);
}
.quienes-somos .boton_descubrir-mas a {
  text-decoration: none;
  color: white;
}

.sobre__scaloneta .sobre_scaloneta-titles h4 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.sobre__scaloneta h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: blue;
}
.sobre__scaloneta .sobre_scaloneta-card {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.sobre__scaloneta .sobre_scaloneta-cards {
  padding: 2rem;
  text-align: center;
  background-color: #cab1b1;
  border-radius: 12px;
  position: relative;
}
.sobre__scaloneta .sobre_scaloneta-cards:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.sobre__scaloneta .sobre_scaloneta-cards h2 {
  font-size: 3rem;
  margin-top: 12px;
}
.sobre__scaloneta .sobre_scaloneta-cards p {
  font-size: large;
  margin-top: 12px;
  color: blue;
}
