<section>
    <h1>LA SCALONETA</h1>
    <h2>SCALONETA: QUÉ ES Y POR QUÉ LE DICEN ASÍ A LA SELECCIÓN ARGENTINA</h2>

    <img class="picture" src="images/Scaloni-foto.webp" alt="Foto de Scaloni">

    <p class="parrafos">
        En medios escritos, digitales y principalmente en redes sociales comenzó a surgir algo llamado 'La Scaloneta' un apodo para hacer referencia al combinado nacional de Argentina y que hasta el día de hoy permanece vigente.
    </p>

    <p class="parrafos">
        Si bien, no hay una fecha exacta del surgimiento de este apodo, todo parece haber comenzado después de la goleada 3-0 frente a Ecuador por los cuartos de final de la Copa América 2021. Resultado que hizo ilusionar a los millones de argentinos sedientos de gloria y que fue uno de los primeros grandes pasos previo a la consagración que tendrían más adelante. Post partido los memes no se hicieron esperar y algunos tenían al protagonista, Lionel Scaloni, manejando un colectivo con la frase "La Scaloneta".
    </p>
    

    <h2>MÁXIMO REFERENTE DE ESTE EQUIPO: LIONEL MESSI</h2>

    <img class="picture" src="images/Foto-Messi-referente.webp" alt="Foto de Messi">

    <p class="parrafos">
        Lionel Messi, considerado el <b>"mejor jugador del mundo" </b>y <b>"mejor jugador de la historia", </b>fue una pieza fundamental en el equipo argentino por varias razones. 
    </p>

    <p class="parrafos">
        Una de ellas fue ser decisivo en los partidos donde a la Selección le estaba costando jugar bien o en momentos claves de los partidos. Otro factor importante fue que muchos de los jugadores que integran está Selección, lo tienen a él como idolo y disfrutan poder jugar al lado suyo. Además, su presencia le genera a los rivales como una sensación de "respeto", donde buscan contrarrestar todo su potencial pero no lo logran.
    </p>
    <p class="parrafos">
        Messi con este equipo consiguió lo que se le venía negando hace mucho tiempo en la Selección, que era ganar un título. Después de tanto tiempo de intentar e intentar lo pudo lograr, por su esfuerzo y constancia que tuvo a lo largo de toda su carrera como futbolista profesional. 
    </p>


    <h2>RÉCORD QUE TUVO LA SCALONETA</h2>

    <img class="picture" src="images/Foto-Finalissima.webp"  alt="Foto Finalissima">

    <p class="parrafos">
        La Selección Argentina que dirige Lionel Scaloni llegó a 36 partidos sin perder, con un total de 25 victorias y 11 empates. Tremendo. Así, superó las segundas mejores marcas de invictos: Brasil (entre 1993 y 1996) como España (2007 a 2009) y le pisa los talones a Italia.
    </p>

    <p class="parrafos">
        De estos 36 partidos, 17 fueron por Eliminatorias (11 victorias y seis derrotas), 8 por la Copa América (6 y 2), 10 amistosos (7 y 3) y la Finalissima. En total, Lionel Scaloni dirigió 50 encuentros (contando el de Emiratos) a la Selección, con 33 victorias, 13 empates y cuatro derrotas.
    </p>

    <p class="parrafos">
        En la Finalissima ante Italia, en ese contundente 3-0 en Wembley jugado el 1° de junio, el equipo de Scaloni superó la recordada marca que ostentaba la Selección del Basile: 31 encuentros oficiales entre el 19 de febrero de 1991 y el 8 de agosto de 1993, con los títulos de las Copas América 1991 y 1993.
    </p>

</section>